%head
  %meta{ charset: "utf-8" }
  %meta{ "http-equiv" => "X-UA-Compatible", charset: "IE=edge,chrome=1" }
  %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }
  %title= "Sensu Documentation"

  = stylesheet_link_tag "//cdn.rawgit.com/Lukas-W/font-linux/v0.1/assets/font-linux.css"
  = stylesheet_link_tag "sensuapp"
  = favicon_tag "/img/ico/favicon.png"
  = javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"
  = javascript_include_tag "bootstrap.js"
  = javascript_include_tag "sensuapp.js"

  %link{ href: 'http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,300,400,600,700', rel: "stylesheet", type: "text/css" }
