- wrap_layout :layout do

  = partial "layouts/breadcrumbs"

  %div.documentation
    = stylesheet_link_tag "documentation"
    %div.container
      %div.row
        %div.col-md-9.col-sm-8{ id: "documentation" }

          = partial "layouts/alerts"

          :preserve
            #{yield}

          = partial "layouts/suggestions"

        - if current_resource.data.version?
          - unless current_resource.data.hide_toc
            %div.col-md-3.col-sm-4
              = partial "layouts/toc"
